<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=Password1;Data Source=mssql\SQLEXPRESS;Database=Sitecore_Core" />
  <add name="master" connectionString="user id=sa;password=Password1;Data Source=mssql\SQLEXPRESS;Database=Sitecore_Master" />
  <add name="web" connectionString="user id=sa;password=Password1;Data Source=mssql\SQLEXPRESS;Database=Sitecore_Web" />
  <add name="analytics" connectionString="mongodb://mongo/analytics" />
  <add name="tracking.live" connectionString="mongodb://mongo/tracking_live" />
  <add name="tracking.history" connectionString="mongodb://mongo/tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://mongo/tracking_contact" />
  <add name="reporting" connectionString="user id=sa;password=Password1;Data Source=mssql\SQLEXPRESS;Database=Sitecore_Analytics" />
</connectionStrings>